
<ion-header>

<ion-title><h3>Login</h3></ion-title>

</ion-header>


<ion-content padding>

  <h1 text-center>
    <ion-icon class="auth-icon" name="person" color="primary">
    </ion-icon>
  </h1>


  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input autofocus clearInput placeholder="Email" type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input clearInput type="password" placeholder="Senha" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </ion-row>
    <br />
    <ion-row>
        <button ion-button block color="blue-edit" (click)="login(user)">
          Login
        </button>
        <button ion-button outline block color="blue-edit" (click)="onPush()">
          Cadastrar
        </button>
    </ion-row>
  </ion-grid>





</ion-content>
