<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h1 text-center>
    <ion-icon class="auth-icon" name="person-add" color="primary">
    </ion-icon>
  </h1>

  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input autofocus clearInput placeholder="Nome" type="text" [(ngModel)]="user.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input clearInput type="text" placeholder="E-mail" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="text" clearInput placeholder="Telefone" [(ngModel)]="user.phone"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="card"></ion-icon>
        </ion-label>
        <ion-input type="text" clearInput placeholder="CPF" [(ngModel)]="user.cpf"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" clearInput placeholder="Senha" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <button margin-top ion-button block color="blue-edit" (click)="register(user)">Salvar</button>
    </ion-row>

  </ion-grid>





</ion-content>
