page-register {

    .placeholder-text-edit {
    color: color($colors, blue-edit);
    }


    ion-icon {
        font-size: 25px;
    }

    //.bg-image {


    // background-image: url('../../assets/imgs/background.jpg');
    //background-repeat: no-repeat;
    //background-position: center;
    //background-size: contain;

      //justify-content: center;
	    //display: flex!important;
      //align-items: center!important;
   // }
}
